* {
    box-sizing: border-box;
}

body,
li,
ul {
    margin: 0;
}


img{max-width: 100%;
height: auto;
cursor:pointer;}

a{cursor:pointer;
}

body{
    width:100%;
    display:flex;
    flex-direction: column;
    
}
    header{background-color: black;
        width: 100%;
        height:5rem;}
     main{display: flex;
        flex-direction: column;
        justify-items:center ;

        width: 100%;
        height: 100%;
        }
    footer{width: 100%;
        height:3rem;
        background-color: black;}       

main .slider {
    height: 20rem;
    width:100%;
    margin-bottom: 20%;
    margin-right: auto auto;

}

.slider img {
   
    object-fit: cover;
    height:50%;
    width: 50%;
    margin-left:25%;
    margin-top: 3rem;
    position:absolute; 
    
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

.suivant, .precedent {
    color: rgb(23, 22, 22);
    font-size: 3rem;
    position: absolute;
    top: 40%;
   
    cursor: pointer;
    
}

.suivant {
    right: 1rem;
    
}

.precedent {
    left: 1rem;
    }

.under-slider{
    width: 50%;
    height:4rem;
    display: flex;
    margin-top:25%;
    justify-content: space-around;
    margin-left:auto ;
    margin-right: auto;
    
    
}
.under-slider .pixiz{
    
    width: 2rem;
    height:2rem;   
    background-color: chocolate;
    border-radius: 50%;

}

.description-projet{
    background-color: blueviolet;
    color: antiquewhite;
    width: 100%;
    height:5rem;
}

:root{
--backgroundImg:

--button-color:


--font-family-h1: 'Philosopher', sans-serif;

--font-family-p: 'Inter', sans-serif;

--brown-color:



}