* {
    box-sizing: border-box;
}

body,
li,
ul {
    margin: 0;
}
:root{
--backgroundImg:

--button-color:


--font-family-h1: 'Philosopher', sans-serif;

--font-family-p: 'Inter', sans-serif;

--brown-color:


}