*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(223,223,223);
    font-family: 'PT Sans', sans-serif;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 30px;
}

.profile-card {
    flex: 1 1 30%;
    max-width: 300px;
    background: #fff;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 #ccc;
    transition: .3s;
}

.profile-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px -5px #ccc;
}

.profile-icon {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin: 25px 0 10px 0;
}

.profile-position {
    font-size: 14px;
    color: #777;
}

.button {
    margin: 40px 0 0 0;
    padding: 10px 30px;
    color: #999;
    text-decoration: none;
    border: 1px solid #999;
    border-radius: 4px;
}

.button:hover {
    color: #fff;
    background: #839B97;
    border: 1px solid #839B97;
}

.footer {
    background-color: #035642;
    margin-top: 10px;
    height: 60px;
    color: #efe5d0;
    text-align: center;
    padding: 15px;
    font-size: 100%;
    font-family: Arial;
    display: block;
  }
  
  .footer ul {
    padding: 5px;
    list-style-type: none;
    text-align: center;
    margin: 10px;
    overflow: hidden;
  }
  
  .footer li {
    text-decoration: none;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
  }
  
  .footer ul li {
    display: inline-block;
  }
  
  .footer ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #efe5d0;
    background-color: #5c755e;
    text-align: center;
    font-family: arial;
    font-weight: bold;
  }
  
  .footer ul li a:hover {
    color: #000;
    background-color: #fff;
  }
  
  #footer-right {
    height: 50px;
    width: auto;
    position: fixed;
    float: right;
  }

@media screen and (max-width: 1000px) {
    .profile-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .profile-card {
        padding: 20px 15px;
    }

    .profile-name {
        font-size: 16px;
    }
}



/* pour les écrans plus petit que 980 pixels : pc 
@media screen and (max-width: 980px) {
    #id {
        display: none;
    }
}
/* pour les écrans plus petit que 840 pixels : ipad horizontal 
@media screen and (max-width: 840px) {
    #id {
        display: none;
    }
}
/* pour les écrans plus petit que 650 pixels : ipad vertical 
@media screen and (max-width: 650px) {
    #id {
        display: none;
    }
}
/* pour les écrans plus petit que 440 pixels : smartphones 
@media screen and (max-width: 440px) {
    #id {
        display: none;
    }
}
*/
